html, body {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

/* ______________________________________ */
/* Initializing stuff */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.centerit {
  align-items: center;

}

:root {
  --brkpt:  1000px;
  --brdr:  2vw;
  --brdrs:  1vw;
  /*colors*/
  --green: 116, 209, 148;
  /*#74d194 116, 209, 148*/
  /*#4dc65d*/;
  --blue: 116, 162, 209;
  /*74a2d1 116, 162, 209*/
  /*4dbbc6*/
  --red: 209, 116, 116;
  /*d17474 209, 116, 116*/
  /*c64d63*/
  --yellow: 209, 202, 116;
  /*d1ca74 209, 202, 116*/
  /*c6bb4d unknown*/
  /*c4c64d*/

}

@media (min-width: 1000px) {
  /* For Desktop: */                             
  :root {
    --tpnvpd: 10px; /*topnav class padding*/
    --ulmt: 0px; /*ul menu margin top*/
    --limb: 15px; /*menu list bottom margin for spacing*/
    --hbfs: 2vw; /*hellobox class font size*/
    --nbht: 14vw; /*namebox class height*/
    --abht: 25vw; /*aboutbox class height*/
    --sbfs: 1vw; /*sidebox class font size*/
    --gbpd: .4vw; /*genbox class padding*/
    --ntfs:  3vw; /*nametext class font size*/
    --stfs: 1vw; /*smalltext class font size*/
    --gtfs: 1vw; /*gentext class font size*/
  }
}

@media (max-width: 1000px) { 
  /* For tablet and phone: */                            
  :root {
    --tpnvpd: 5px; /*topnav class padding*/
    --ulmt: 5px; /*ul menu margin top*/
    --limb: 10px; /*menu list bottom margin for spacing*/
    --hbfs: 2.5vw; /*hellobox class font size*/
    --nbht: 17vw; /*namebox class height*/
    --abht: 35vw; /*aboutbox class height*/
    --sbfs: 1.5vw; /*sidebox class font size*/
    --gbpd: .1vw .1vw .1vw .1vw; /*genbox class padding*/
    --ntfs:  4vw; /*nametext class font size*/
    --stfs: 1.5vw; /*smalltext class font size*/
    --gtfs: 1.1vw; /*gentext class font size*/
  }
}

@media (max-width: 600px) {
  /* For tablet and phone: */                             
  :root {
    --tpnvpd: 2px; /*topnav class padding*/
    --ulmt: 10px; /*ul menu margin top*/
    --limb: 10px; /*menu list bottom margin for spacing*/
    --hbfs: 2.5vw; /*hellobox class font size*/
    --nbht: 17vw; /*namebox class height*/
    --abht: 35vw; /*aboutbox class height*/
    --sbfs: 1.5vw; /*sidebox class font size*/
    --gbpd: .1vw .1vw .1vw .1vw; /*genbox class padding*/
    --ntfs:  4vw; /*nametext class font size*/
    --stfs: 1.5vw; /*smalltext class font size*/
    --gtfs: 1.1vw; /*gentext class font size*/
  }
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

@media only screen and (max-width: 1000px) {
  /* For tablet and phone: */
  .col-s-0 {width: 0%;}
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 1000px) {
  /* For desktop: */
  .col-0 {width: 0%;}
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.menu ul {
  list-style-type: none;
  margin-top: var(--ulmt);
  padding: 1vw 0 0 0;
}

.menu li {
  padding: 0 0px 1vw 10px;
  margin-bottom: var(--limb);
  /*margin-bottom: .5vw;*/
  font-family: Quicksand;
  /*background-color: #33b5e5;*/
  /*color: #ffffff;*/
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
}

.button {
  /*background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;*/
  /*display: inline-block;*/
  margin-top: 4vm;
  /*padding: 5vw 0 .5vw 0;*/
  border-radius: .5vw;
  /*background: #4dc65d;*/
  font-size: .8vw;
  color: white;
  padding: .5vw .8vw .5vw .8vw;
  width: fit-content;
  margin-left: 1vw;
  /*border-color: #4dbbc6;*/
  border: none;
  /*font-family: Alata;*/
  cursor: pointer;

}

/* Change the color of links on hover */
.button: hover {
  background-color: dodgerblue;
  color: black;
}

.buttout {
  /*display: inline-block;*/
  align-self: start;
}

.topnav {
  overflow: hidden;
  position: fixed;
  left:0;
  top: 0;
  width: 16.66%;
  height: 100%;
  margin: 0;
  padding: var(--tpnvpd);
  z-index: 99;
  /*font-family: Quicksand;*/
}

.cardout {
  box-shadow: 0 1px 10px;
  background: hotpink;
}

.profile-picture {
  padding: 0px 0px 0px 0px;
  vertical-align: top;
  /*--brdr:  2vw;*/
  /*border-radius: 0 0 10px 10px;*/
  border-top-left-radius: var(--brdr);
  border-bottom-left-radius: var(--brdr);
  width=100% 
  height: 55vw;
}

.sidebyside {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  align-items: end;
  align-self: start;
}

.resume {
  grid-column-start: 1;
  grid-column-end: 5;
}

/* ______________________________________ */
/* time for the header boxes */
.hellobox {
  border-radius: 1vw;
  /*background: #4dc65d;*/
  font-weight: bold;
  color: white;
  padding: .5vw .8vw .5vw .8vw;
  width: fit-content;
  font-size: var(--hbfs);
  font-family: Quicksand;
}

/* ______________________________________ */
/* these are the designs of the cards */
.namebox {
  padding: 0px 0px 0px 2vw;
  /*padding-left: 20 px;*/
  border-top-right-radius: var(--brdrs);
  border-bottom-right-radius: var(--brdrs);
  height: var(--nbht);
  /*background: #4dc65d70;*/
  /*#c3fade;*/
  /*font-family: Alata;*/
  /*box-shadow: 0 1px 10px*/
}

.aboutbox {
  /*padding: 0px;
  padding-left: 20 px;*/
  padding: 0px 2vw 0px 2vw;
  margin: 0px 0px 1vw 0vw;
  height: var(--abht);
  /*--brdr:  2vw;*/
  /*border-top-right-radius: var(--brdr);*/
  border-bottom-right-radius: var(--brdr);
  border-bottom-left-radius: var(--brdrs);
  /*background: #4dc65d40;*/
  /*#a0f8ac85;*/
  /*#d5f3e4;*/
  /*font-family: Quicksand;*/
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
  /*box-shadow: 0 1px 10px;*/
}

.sidebox {
  border-radius: .8vw;
  color: white;
  padding: .5vw .8vw .5vw .8vw;
  font-weight: bold;
  font-size: var(--sbfs);

}

.genbox {
  border-radius: .5vw;
  /*padding: var(--gbpd);*/
  /*background: #4dc65d;*/
  /*color: black;*/
  /*padding: .5vw .5vw .5vw .5vw;*/
  width: fit-content;
  /*height: fit-content;*/
}

@media screen and (min-width: 1000px) {
  /* For Desktop: */
  .genbox {
    padding: .4vw;
  }
}

@media screen and (max-width: 1000px) {
  /* For tablet and phone: */
  .genbox {
    padding: .1vw .1vw .1vw .1vw;
  }
}

.regboxtop {
  padding: 0px 0px 0vw 2vw;

  margin: 1vw 0px 0vw 0vw;
  --brdr:  2vw;
  border-top-left-radius: var(--brdr);
  border-top-right-radius: var(--brdr);
  /*background: #4dc65d40;*/
  /*#a0f8ac85;*/
  /*#d5f3e4;*/
  font-family: Quicksand;
  /*height: 7vw;*/
}

.regboxbottom {
  padding: 2vw 0px 2vw 2vw;
  /*padding-left: 20 px;*/*/
  margin: 0vw 0px 1vw 0vw;
  --brdr:  3vw;
  border-bottom-left-radius: var(--brdr);
  border-bottom-right-radius: var(--brdr);
  /*background: #4dc65d40;*/
  /*#a0f8ac85;*/
  /*#d5f3e4;*/
  font-family: Quicksand;
  /*height: 25vw;*/

}

/* ______________________________________ */
/* text formatting */
.nametext {
  padding: 0px 0px 0px 1vw;
  margin: 0px;
  font-weight: bold;
  font-family: Quicksand;
  color: darkgreen;
  font-size: var(--ntfs);
}

.smalltext {
  padding: 0px 1px 0px 1vw;
  margin: 0px;  
  font-family: Alata;
  font-size: var(--stfs);
}

.gentext {
  font-family: Alata;
  font-size: var(--gtfs);
}

/* ______________________________________ */
/* ooohhhh pretty colors */
.greenfull {
  background-color: rgba(var(--green));
  /*background: #74d194;*/
  /*#74d194*/
  /*#4dc65d*/
  color: white;
}

.greenmid {
  background-color: rgba(var(--green), 0.5);
  /*background: #74d19470;*/
}

.greenlite {
  background-color: rgba(var(--green), 0.25);
  /*background: #74d19445;*/
}

.greentxt {
  color: rgba(var(--green));
  /*color: #74d194;*/
}

.bluefull {
  background-color: rgba(var(--blue));
  /*background: #74a2d1;*/
  /*74a2d1*/
  /*4dbbc6*/
  color: white;
}

.bluemid {
  background-color: rgba(var(--blue), 0.5);
  /*background: #74a2d170;*/
}

.bluelite {
  background-color: rgba(var(--blue), 0.25);
  /*background: #74a2d145;*/
}

.bluetxt {
  color: rgba(var(--blue));
  /*color: #74d194;*/
}

.redfull {
  background-color: rgba(var(--red));
  /*background: #d17474;*/
  /*d17474*/
  /*c64d63*/
  color: white;
}

.redmid {
  background-color: rgba(var(--red), 0.5);
  /*background: #d1747470;*/
}

.redlite {
  background-color: rgba(var(--red), 0.25);
  /*background: #d1747440;*/
}

.redtxt {
  color: rgba(var(--red));
  /*color: #74d194;*/
}

.yellowfull {
  background-color: rgba(var(--yellow));
  /*background: #d1ca74;*/
  /*d1ca74*/
  /*c6bb4d unknown*/
  /*c4c64d*/
  color: white;
}

.yellowmid {
  background-color: rgba(var(--yellow), 0.5);
  /*background: #d1ca7475;*/
  /*c6bb4d*/
}

.yellowlite {
  background-color: rgba(var(--yellow), 0.25);
  /*background: #d1ca7445;*/
  /*c6bb4d*/
}

.yellowtxt {
  color: rgba(var(--yellow));
  /*color: #74d194;*/
}

.purplefull {
  background: #d174bd;
}

.greyfull {
  background: #cccccc;
}

.greymid {
  background: #cccccc70;
}

.greylite {
  background: #cccccc45;
}

/* ______________________________________ */
/* leftovers */

.left, .right {
  background-color: lightblue;
  
  margin: 5px;
  max-width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left {
  align-items: center;
  justify-content: center;
}


.wrapper {
  background-color: lightpink;
  
  max-width: 80%;
  display: flex;
  flex-direction: row;
  height: 100%;
}
