html, body {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

/* ______________________________________ */
/* Initializing stuff */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.centerit {
  align-items: center;

}

:root {
  --brkpt:  800px;
  --brdr:  2vw;
  --brdrs:  1vw;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

@media only screen and (max-width: 800px) {
  /* For tablet and phone: */
  .col-s-0 {width: 0%;}
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 800px) {
  /* For desktop: */
  .col-0 {width: 0%;}
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.menu ul {
  list-style-type: none;
  margin-top: 1vw;
  padding: 0;
}

.menu li {
  padding: 10px;
  /*margin-bottom: .5vw;*/
  font-family: Quicksand;
  /*background-color: #33b5e5;*/
  /*color: #ffffff;*/
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
}

@media screen and (min-width: 800px) {
  /* For Desktop: */
  .menu li {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 800px) {
  /* For tablet and phone: */
  .menu li {
    margin-bottom: 0px;
  }
}

.button {
  /*background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;*/
  margin-top: 4vm;
  border-radius: .5vw;
  background: #4dc65d;
  font-size: 1vw;
  color: white;
  /*padding: .5vw .8vw .5vw .8vw;*/
  width: fit-content;
}

.topnav {
  /*background-color: #333;*/
  /*background-color: #866E6960;*/
  /*background-color: white;*/
  /*border-top: 2px solid lightgrey;*/
  /*border-bottom: 2px solid #697586;*/
  overflow: hidden;
  position: fixed;
  left:0;
  top: 0;
  width: 16.66%;
  height: 100%;
  margin: 0;
  padding: 0;
  /*z-index: 99;*/
  /*font-family: Quicksand;*/
}

.cardout {
  box-shadow: 0 1px 10px;
  background: hotpink;
}

.profile-picture {
  padding: 0px 0px 0px 0px;
  vertical-align: top;
  /*--brdr:  2vw;*/
  /*border-radius: 0 0 10px 10px;*/
  border-top-left-radius: var(--brdr);
  border-bottom-left-radius: var(--brdr);
  width=100% 
  height: 55vw;
}

/* ______________________________________ */
/* time for the header boxes */
.hellobox {
  border-radius: 1vw;
  /*background: #4dc65d;*/
  font-weight: bold;
  color: white;
  padding: .5vw .8vw .5vw .8vw;
  width: fit-content;
  font-family: Quicksand;
}

@media screen and (min-width: 800px) {
  /* For Desktop: */
  .hellobox {
    font-size: 2vw;
  }
}

@media screen and (max-width: 800px) {
  /* For tablet and phone: */
  .hellobox {
    font-size: 2.5vw;
  }
}

/* ______________________________________ */
/* these are the designs of the cards */
.namebox {
  padding: 0px 0px 0px 2vw;
  /*padding-left: 20 px;*/
  border-top-right-radius: var(--brdrs);
  border-bottom-right-radius: var(--brdrs);
  /*background: #4dc65d70;*/
  /*#c3fade;*/
  /*font-family: Alata;*/
  /*box-shadow: 0 1px 10px*/
}

@media screen and (min-width: 800px) {
  /* For Desktop: */
  .namebox {
    height: 14vw;
  }
}

@media screen and (max-width: 800px) {
  /* For tablet and phone: */
  .namebox {
    height: 17vw;
  }
}

.aboutbox {
  /*padding: 0px;
  padding-left: 20 px;*/
  padding: 0px 2vw 0px 2vw;
  margin: 0px 0px 1vw 0vw;
  /*--brdr:  2vw;*/
  /*border-top-right-radius: var(--brdr);*/
  border-bottom-right-radius: var(--brdr);
  border-bottom-left-radius: var(--brdrs);
  /*background: #4dc65d40;*/
  /*#a0f8ac85;*/
  /*#d5f3e4;*/
  /*font-family: Quicksand;*/
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
  /*box-shadow: 0 1px 10px;*/
}

@media screen and (min-width: 800px) {
  /* For Desktop: */
  .aboutbox {
    height: 25vw;
  }
}

@media screen and (max-width: 800px) {
  /* For tablet and phone: */
  .aboutbox {
    height: 35vw;
  }
}

.sidebox {
  border-radius: .8vw;
  /*background: #4dc65d;*/
  color: white;
  padding: .5vw .8vw .5vw .8vw;
  /*width: 500px;*/
  font-weight: bold;
}

@media screen and (min-width: 800px) {
  /* For Desktop: */
  .sidebox {
    font-size: 1vw;
  }
}

@media screen and (max-width: 800px) {
  /* For tablet and phone: */
  .sidebox {
    font-size: 2vw;
  }
}

.genbox {
  border-radius: .8vw;
  /*background: #4dc65d;*/
  color: black;
  padding: .5vw .5vw .5vw .5vw;
  width: fit-content;
}

.regboxtop {
  padding: 0px 0px 0vw 2vw;

  margin: 1vw 0px 0vw 0vw;
  --brdr:  2vw;
  border-top-left-radius: var(--brdr);
  border-top-right-radius: var(--brdr);
  /*background: #4dc65d40;*/
  /*#a0f8ac85;*/
  /*#d5f3e4;*/
  font-family: Quicksand;
  /*height: 7vw;*/
}

.regboxbottom {
  padding: 2vw 0px 2vw 2vw;
  /*padding-left: 20 px;*/*/
  margin: 0vw 0px 1vw 0vw;
  --brdr:  3vw;
  border-bottom-left-radius: var(--brdr);
  border-bottom-right-radius: var(--brdr);
  /*background: #4dc65d40;*/
  /*#a0f8ac85;*/
  /*#d5f3e4;*/
  font-family: Quicksand;
  /*height: 25vw;*/
}
/* ______________________________________ */
/* text formatting */
.nametext {
  padding: 0px 0px 0px 1vw;
  margin: 0px;
  font-weight: bold;
  font-family: Quicksand;
  color: darkgreen;
}

@media screen and (min-width: 800px) {
  /* For Desktop: */
  .nametext {
    font-size: 3vw;
  }
}

@media screen and (max-width: 800px) {
  /* For tablet and phone: */
  .nametext {
    font-size: 4vw;
  }
}

.smalltext {
  padding: 0px 1px 0px 1vw;
  margin: 0px;  
  font-family: Alata;
}

@media screen and (min-width: 800px) {
  /* For Desktop: */
  .smalltext {
    font-size: 1vw;
  }
}

@media screen and (max-width: 800px) {
  /* For tablet and phone: */
  .smalltext {
    font-size: 1.5vw;
  }
}

.gentext {
  font-family: Alata;
}

@media screen and (min-width: 800px) {
  /* For Desktop: */
  .gentext {
    font-size: 1vw;
  }
}

@media screen and (max-width: 800px) {
  /* For tablet and phone: */
  .gentext {
    font-size: 1.5vw;
  }
}

/* ______________________________________ */
/* ooohhhh pretty colors */
.greenfull {
  background: #4dc65d;
}

.greenmid {
  background: #4dc65d70;
}

.greenlite {
  background: #4dc65d45;
}

.bluefull {
  background: #4dbbc6;
}

.bluemid {
  background: #4dbbc670;
}

.bluelite {
  background: #4dbbc645;
}

.redfull {
  background: #c64d63;
}

.redmid {
  background: #c64d6370;
}

.redlite {
  background: #c64d6340;
}

.yellowfull {
  background: #c4c64d;
  /*c6bb4d*/
}

.yellowmid {
  background: #c4c64d75;
  /*c6bb4d*/
}

.yellowlite {
  background: #c4c64d45;
  /*c6bb4d*/
}

/* ______________________________________ */
/* leftovers */

.left, .right {
  background-color: lightblue;
  
  margin: 5px;
  max-width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left {
  align-items: center;
  justify-content: center;
}


.wrapper {
  background-color: lightpink;
  
  max-width: 80%;
  display: flex;
  flex-direction: row;
  height: 100%;
}
